<h1>Admin Shelters</h1>

<h2>All Shelters</h2>
<% @shelters.admin_shelters_reverse_alphabetical.each do |shelter| %>
  <div id="admin-shelter-<%= shelter.id %>">
    <h4><%= shelter.name %></h3>
  </div>
<% end %>

<h2>Shelters With Pending Apps</h2>
<div id="admin-pending">
<% @shelters.admin_shelters_with_pending_apps.each do |shelter| %>
    <h4><%= shelter.name %></h3>
<% end %>
</div>