<h1>All Applications</h1>

<% @applications.each do |application| %>
  <div id="application-<%= application.id %>">
  <%= link_to "#{application.name_of_applicant}", "applications/#{application.id}" %>
  </div>
<% end %>
